
.wrapper {
  min-height: 100vh;
  padding: 4em;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
}

h1 { text-align: center; }

.morning.clear::before {
  background: linear-gradient(#9B89FF, #FFD789);
}

.morning.overcast::before {
  background: linear-gradient(#CCCCCC, #FFD789);
}

.morning.partlycloudy::before {
  background: linear-gradient(#DAD4FC, #FFD789);
}

.morning.mostlycloudy::before {
  background: linear-gradient(#E7E7E7, #FFD789);
}

.day.clear::before {
  background: #8cdeff;
}
.overcast.day::before {
  background: #e0e0e0;
}
.partlycloudy.day::before {
  background: linear-gradient(#e0e0e0, #8cdeff 300px);
}
.mostlycloudy.day::before {
  background: linear-gradient(#e0e0e0, #D1F2FF 300px);
}

.rain.day::before, .rain.morning::before {
  background: linear-gradient(#a3a4a8, #c0c2c6 300px);
}

.night {
  color: #fff;

  &::before{
    background: #111;
  }
}

.currently {
  text-align: center;
}

table {
  margin: 0 auto;

  .high {
    width: 1.25em;
  }

  .low {
    font-size: 1.8em;
  }

  .day-name, .hour-name {
    font-size: 1.2em;
  }
}

td { font-size: 3em;
  vertical-align: middle; text-align: center; padding: .25em .125em;}

.attribution {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  margin-top: 2em;

  img {
    width: 80px;
  }
}
